/* custom property */
*{
	margin: 0;
	padding: 0;
}
:root {
	--accent-color: #800000;  /* could also be coded #800 */
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 80%;
	margin: 0 auto;	
	border: 2px solid var(--accent-color);
	border-radius: 10px;

}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 150%;
	border-bottom: 2px solid var(--accent-color);
}
h2 {
	padding-top: .5em;
	padding-bottom: 0m;
	font-size: 130%;
	color: var(--accent-color);
}
h3 {padding-top: .5em;
	padding: bottom 1em;
	font-size: 105%;
}
p{padding-top: .5em;
padding-bottom: .5em;}
ul{padding-top: .5em;
padding-bottom: .5em;
padding-left:2em ;}

img {
	border: 1px solid var(--accent-color);
	border-radius: 10px;
	margin-right: 1em;
	margin-bottom: 1em;
  margin-top: .75em;
 margin-bottom: .75em;
}

/* the styles for the header */
header {
	background: linear-gradient(#f6bb73 0%, white 30%, white 75%, #f6bb73 100%);
}
header h2 {
	font-size: 175%;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
}

/* the styles for the main content */
main {
	clear: left;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
main {
	clear: left;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}
main img {
	border: double 4px var(--accent-color);
}
main blockquote {
	font-style: italic;
	font-size: 110%;
	padding: .5em;
}
	& p {
		text-align: center;
footer {
	background-color: var(--accent-color);
	
}
footer p {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	color: white;
}
